.BookedMain{
    width: 100%;
    height: 100vh;
    background-color: #FFFCF7;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    gap: 2%;
  }
.Data_imag{
    width: 100%;
    height: 85vh;
    box-shadow: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
}

.Data_type{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family: Inter, sans-serif;
    gap: 7px;
}
    
#Data_type1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    align-items: flex-start;
}
.logodata{
    align-self: flex-start;
    width: 120px;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}
/* .choosemain{
    display:flex;
} */

.confirmedData{
    width: 80%;
    /* background-color: #000; */
    border-bottom: 1px solid gray;
    height: 30px;
}

.DetailsimgMain{
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.Confirm-main{
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logos{
    width: 85px;
}
.DatabtonMain{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.btn1{
    text-transform: uppercase;
    font-weight: bold;
}
.btn2{
    text-transform: uppercase;
    font-weight: bold;
    background-color: #C39A7B !important;
}
.updatebuttn{
    width: 100% !important;
    height: 50px;
    background-color: #000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    align-items: center;
    display: flex;
    text-decoration: none;
    justify-content: center;
}
.updatebuttn:hover{
    color: white;
    text-decoration: none;
}
.imgdata{
    display: none;
}
.changeMainmob{
    display: none;
}
.feildproblem{
    width: 100%;
}
@media only screen and (max-width: 700px) {
    .DetailsimgMain{
     display: none;
    }
    .Confirm-main{
        width: 100%;
    }
    .imgdata{
        display: flex;
        margin-top: 20px;
    }
    #Data_type1{
        gap: 10px;
        width: 80%;
    }
    .Datamain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .Detailstab{
        width: 22%;
        height: 8px;
        border-radius: 10px;
        border: solid 1px #C39A7B;
    }
    .DetailsMain{
        height: 700px;
        padding-top: 0px;
        width: 100%;
    }
  } 