.AreaaMain{
    width: 100%;
    height: 100vh;
    background-color: #FFFCF7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
  }
.Data_imag{
    width: 100%;
    height: 85vh;
    box-shadow: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
}

.Area_type{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-family: Inter, sans-serif;
    gap: 7px;
}
.areasection{
    width: 80%;
    border: 1px solid gray;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 5px;
}
.area_1and2{
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    width: 95%;
    gap: 10px;
    /* align-items: center; */
    text-align: flex-start;
    display: flex;
    flex-direction: column;
} 
.restArea{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align:flex-start;
}
.selectbton{
    width: 80%;
    height: 40px;
    color: white;
    background-color: #C39A7B;
    font-weight: bold;
    border: none;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.selectbton:hover{
    color: white;
    text-decoration: none;
}
#Area_type1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    align-items: flex-start;
}
.Areatitle_type{
    background-color: #F5E5CF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.10);
    height: 30px;
    width: auto;
    font-size: small;
    align-items: center;
    display: flex;
    justify-content:center ;
    padding: 10px;
    gap: 8px;
}
.logodata{
    align-self: flex-start;
    width: 120px;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}
/* .choosemain{
    display:flex;
} */
.AreaimgMain{
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
}
.changeMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.changetab{
    width: 22%;
    height: 8px;
    border-radius: 10px;
    border: solid 1px #C39A7B;
}
.fixd{
    background-color: #C39A7B;
}
.Ara-main{
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 0px;
}
.selecterdata{
    width: 80%;
    border: 1px solid grey;
    border-radius: 5px;
    color: gray;
    font-family: Inter, sans-serif;
    font-weight: 300 !important;
    font-size: 18px;
}
.logos{
    width: 85px;
}
.tabletext{
    font-size: 22px;
    /* font-weight: bold; */
    text-align: start;
    letter-spacing: 2px;
    width: 80%;
}
.DatabtnMain{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.Area-button{
    width: 48%;
    height: 60px;
    background-color: #000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    align-items: center;
    display: flex;
    text-decoration: none;
    justify-content: center;
}
.Area-button:hover{
    color: white;
    text-decoration: none;
}
.imgdata{
    display: none;
}
.changeMain{
    display: flex;
}
.changetabb{
    display: none;
}
.readinfo{
    color: #000;
    font-weight: 600;
    margin-left: -85px;
}
.readtext{
    font-style: italic;
    display: none;
}
#hideifo{
    display: none;
    margin-left: 0px;
}
.dropimg{
    width: 11px;
    height: 11px;
    margin-top: 10px;
    margin-left: 8px;
}
@media only screen and (max-width: 700px) {
    .AreaimgMain{
     display: none;
    }
    .Ara-main{
        width: 100%;
        /* margin-top: 400px; */
        height:fit-content;
    }
    .AreaaMain{
        height: fit-content;
    }
    .imgdata{
        display: flex;
        margin-top: 20px;
    }
    #Area_type1{
        gap: 10px;
        width: 80%;
    }
    .Datamain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: auto;
    }
    .Area-button{
        height: 40px;
    }
    .changeMainn{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .changetabb{
        width: 22%;
        height: 8px;
        border-radius: 10px;
        border: solid 1px #C39A7B;
        display: flex;
    }
    .anotherpub2{
        display: flex;
        text-decoration: underline;
        font-size: 17px;
        font-weight: bold;
        color: #000;
    }
    .SelectMain{
        height: 700px;
    }
    .area_1and2{
        display: flex;
        align-items: flex-start;
        /* justify-content: center; */
        width: 95%;
        gap: 15px;
        align-items: center;
        text-align: flex-start;
    } 
    #restArea1{
        align-items: center;
        display: flex;
        width: 100%;
    }
    .readinfo{
        color: #000;
        font-weight: 600;
        margin-left: -30px;
    }
  } 